{% extends "base.html" %} {% block content %}

<input type="number" id="real_input" name="number" value="-0.101096374" />
<input type="number" id="imag_input" name="number" value="0.956286515" />
<br />
<input type="number" id="width_input" name="number" value="1920" />
<input type="number" id="height_input" name="number" value="1080" />
<br />
<input type="number" id="zoom_input" value="0.001" />
<input type="number" id="max_iter_input" value="100" />
<br />
<button onClick="plot()">Plot</button>

{% endblock %}
